# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Alexander Kellermann
#	email = alex.kellermann@live.com
[user]
	name = Alexander Kellermann
	email = alex.kellermann@live.com
